---
layout: page-6
published: true
last_modified_at: 2024-04-28
title: "Completed List"
---

{%-include backtotop.html-%}
<br />
<!--read size-->
<div>
	{% assign read_data = site.data.list %} {% assign status_read = read_data |
	where: "status", "Read" | size %}
	<i>read: {{ status_read }} </i>
</div>
<!--reading size-->
<div>
	{% assign reading_data = site.data.list %} {% assign status_reading =
	reading_data | where: "status", "Reading" | size %}
	<i>reading: {{ status_reading }} </i>
</div>
<!--eread-->
<!-- read eread size -->
{% assign ereadread_data = site.data.eread %} {% assign status_ereadread =
ereadread_data | where: "status", "Read" | size %}
<!--gaveaway-->
<div>
	<!-- gaveaway_yes -->
	{% assign gaveaway_data = site.data.gaveaway %} {% assign gaveaway_yes =
	gaveaway_data | size %} gaveaway:{{ gaveaway_yes }}
</div>
<br />
<!-- read -->
<h4><i>Read</i></h4>

{% for item in site.data.list %} {% if item.status == "Read" %}
<div>
	<i>
		<a href="{{ site.baseurl }}booklist#{{ item.bookshelf }}">
			{{ item.title }} | {{ item.author }}
		</a>
	</i>
</div>
{% endif %} {% endfor %}

<br />
<!-- read size -->
{% assign status_read = site.data.list | where: "status", "Read" | size %}

<i>read: {{ status_read }}</i>
<br />
<br />
<h4><i>Read as an E-Book</i></h4>
<br />
<i>
	<div>Building a Second Brain | Tiago Forte</div>
	<div>Atomic Habits | James Clear</div>
	<div>The Job | Ellen Ruppel Shell</div>
	<div>The Cult of We | Eliot Brown, Maureen Farrell</div>
	<div>The Almanack of Naval Ravikant | Eric Jorgenson</div>
	<div>No Filter | Sarah Frier</div>
	<div>Why Good People Can’t Get Jobs | Peter Cappelli</div>
	<div>
		Our House is on Fire | Malena Ernman, Greta Thunberg, Beata Ernman, Svante
		Thunberg
	</div>
	<div>The End of Education | Neil Postman</div>
	<div>Deep Medicine | Eric J. Topol</div>
	<div>What I Talk About When I Talk About Running | Haruki Murakami</div>
	<div>Reading The World | Ann Morgan</div>
	<div>Lightly | Francine Jay</div>
	<div>A Woman Makes A Plan | Maye Musk</div>
	<div>What We Talk About When We Talk About Books | Leah Price</div>
	<div>Project 333 | Courtney Carver</div>
	<div>Why We Love Dogs, Eat Pigs, and Wear Cows | Melanie Joy</div>
	<div>Hired | James Bloodwroth</div>
	<div>Whistleblower | Susan Fowler</div>
	<div>Factfulness | Hans Rosling, Anna Rosling Rönnlund, Ola Rosling</div>
	<div>The Miracle Morning | Hal Elrod</div>
	<div>Troublemaker | Leah Remini</div>
	<div>Show Your Work | Austin Kleon</div>
	<div>How To Take Smart Notes | Sonke Ahrens</div>
	<div>Shoe Dog | Phil Knight</div>
	<div>How to Make Sense of Any Mess | Abby Covert</div>
	<div>Digital Minimalism | Cal Newport</div>
	<div>A World Without Email | Cal Newport</div>
	<div>Payoff | Dan Ariely</div>
	<div>Humans Are Underrated | Geoff Colvin</div>
	<div>How To Avoid a Climate Disaster | Bill Gates</div>
	<div>Adventures in Opting Out | Cait Flanders</div>
	<div>
		101 Things I Learned in Advertising School | Tracy Arrington, Matthew
		Frederick
	</div>
	<div>
		101 Things I Learned in Urban Design School | Matthew Frederick, Vikas Mehta
	</div>
	<div>
		101 Things I Learned in Law School | Vibeke Norgaard Martin, Matthew
		Frederick
	</div>
	<div>
		101 Things I Learned in Product Design School | Sung Jang, Martin Thaler,
		Matthew Frederick
	</div>
	<div>The 4-Hour Work Week | Tim Ferriss</div>
	<div>The Bullet Journal Method | Ryder Carroll</div>
	<div>Why We Sleep | Matthew Walker</div>
	<div>Soulful Simplicity | Courtney Carver</div>
	<div>Talking To Strangers | Malcolm Gladwell</div>
	<div>The Bomber Mafia | Malcolm Gladwell</div>
	<div>Bad Blood | John Carreyrou</div>
	<div>Hayvan Deneyleri | Yagmur Ozgur Guven, Oguzcan Kinikoglu</div>
	<div>Vegan Devrimi ve Hayvan Ozgurlugu | Zulal Kalkandelen</div>
	<div>Know My Name | Chanel Miller</div>
	<div>
		Why I’m No Longer Talking To White People About Race | Reni Eddo-Lodge
	</div>
	<div>The Woman In Me | Britney Spears</div>
	<div>Self-Made Man | Norah Vincent</div>
	<div>I’m Glad My Mom Died | Jennette McCurdy</div>
</i>
<br />
<!-- read eread size -->
{% assign ereadread_data = site.data.eread %} {% assign status_ereadread =
ereadread_data | where: "status", "Read" | size %}
<!-- reading eread-->
{% assign ereadreading_data = site.data.eread %} {% assign status_ereadreading =
ereadreading_data | where: "status", "Reading" | size %}
<br />
<!-- {{ }} -->
<i> &nbsp; &nbsp; &nbsp; eread read: {{ status_ereadread }} </i>
<br />
<!-- {{ }} -->
<i> &nbsp; &nbsp; &nbsp; eread reading: {{ status_ereadreading }} </i>
<br />
<h4><i>Gaveaway</i></h4>
<br />
<i>
	<div>Yuzu Olmayan Adam - Bir Norologdan Hikayeler | Christof M. Kessler</div>
	<div>
		Bir Psikanalistin Notlari - Psikoterapi Dunyasindan Gercek Hikayeler |
		Gabriel Rolon
	</div>
	<div>Biri Beni Dinliyor | Dilek Yildirim Akgun</div>
	<div>Bir Terapistin Gizemli Anilari | Ulker Uzun Polat</div>
	<div>Insan Vucuduna Seyahat | Gavin Francis</div>
	<div>It Dalasi - Dogfight | Fred Vogelstein</div>
	<div>The Amazon Way | John Rossman</div>
	<div>Smart Cities, Digital Nations | Caspar Herzberg</div>
	<div>Digital Wars | Charles Arthur</div>
	<div>Alibaba | Duncan Clark</div>
	<div>Happy Hour Is 9 to 5 | Alexander Kjerulf</div>
	<div>Sam Walton | Sally Lee</div>
	<div>Ebay Fenomeni | Richard Luecke, David Bunnell</div>
	<div>Insan Kaynaklari Yonetiminde NLP | Elvan Acar</div>
	<div>A Repurposed Life | Ronni Kahn, Jessica Chapnik Kahn</div>
	<div>Sosyal Curume | Zeliha Burtek, Gulsen Iseri</div>
	<div>
		Milyonerlige Hizli Gecis - Servet Kazanmanin Sifresini Coz ve Zengin Yasa |
		M. J. Demarco
	</div>
	<div>Modada Yavaslik | Solen Kipoz</div>
	<div>Moda Psikolojisi | Mutlu Baris</div>
	<div>Surdurulebilir Yasam Rehberi | Kollektif</div>
	<div>Bu DEHB Muthis Bir Sey! | Penn Holderness, Kim Holderness</div>
	<div>
		DEHB Ile Yasamak Dikkat Eksikligi ve Hiperaktivite Bozukluguyla Savasmak
		Yerine Is Birligi Yapmak Icin Kapsamli Bir Rehber | Jessica McCabe
	</div>
	<div>Cok - Acik Evlilik Anilari | Molly Roden Winter</div>
	<div>Kotu Ilac | Ben Goldacre</div>
	<div>Duramayan Adam - Obsesif Kompulsif Bozuklukla Yasamak | David Adam</div>
	<div>Suclular Nasil Dusunur? | Stanton Samenow</div>
	<div>Yasama Tutunmak Icin Nedenler | Matt Haig</div>
	<div>
		Rahatlama Kitabi - Suyun Ustunde Kalmami Saglayan Dusunceler | Matt Haig
	</div>
	<div>Nevrotik Bir Gezegenden Notlar | Matt Haig</div>
	<div>Kralice Arilar ve Taklitciler | Rosalind Wiseman</div>
	<div>Gonlum Dilime Dargin | Elvin Aydin Keles</div>
	<div>
		Stressiz Yatirim Sanati - Stressiz Bir Finansal Hayat Nasil Yasanir? | Jared
		Dillian
	</div>
	<div>
		Sifirdan Milyonerlige - Borsaya Yatirim Yapmanin Basit, Etkili ve Stressiz
		Bir Yolu | Nicolas Berube
	</div>
	<div>Moda Psikolojisi | Rana Kutvan</div>
	<div>Evim Temiz Mutluyum | Mrs Hinch (Sophie Hinchliffe)</div>
	<div>Esaret Altindaki Iliskiler - Tutkunun Anahtari | Esther Perel</div>
	<div>Mafya, Eroin, Devlet - Turkiye’nin Alacakaranligi | Ryan Gingeras</div>
	<div>Buyurun Ziyafete | Vedat Milor, Besim Hatinoğlu</div>
	<div>Borsadan Gecinmenin Yollari | Alexander Elder</div>
	<div>Gorsel Yatirimci - Borsada Teknik Analiz | John J. Murphy</div>
	<div>Bollinger Bantlari | John Bollinger</div>
	<div>
		Alfa Trader - Profesyonel Alim Satim Islemlerinin Zihin Yapisi, Yontemleri
		ve Matematigi | Brent Donnelly
	</div>
	<div>Merdiven Alti Terapi | Deniz Dulgeroglu</div>
	<div>Pazartesi Mektuplari | Ege Soley</div>
	<div>Once Babam Oldu Sonra Hayallerim | Basak Kablan</div>
	<div>
		Yeni Dunya Yeni Kurallar - Yasam Zevkine Ulasmanin Bugunku Yollari | Vedat
		Milor, Yenal Bilgici
	</div>
	<div>
		Darwin’le Aksam Yemegi - Evrim Yeme Icmeyi Nasil Etkiler? | Jonathan
		Silvertown
	</div>
	<div>Yeniden | Zeyneb Uras</div>
	<div>
		Teknik Analiz 101 - Grafik ve Mum Formasyonlari | Tunc Safa Altunsaray,
		Huseyin Cetin
	</div>
	<div>Kendimle Kahve Sohbeti | Kristen Helmstetter</div>
	<div>
		Terapistin Ikilemi - Iliskisel Psikoterapinin Sifreleri | Elvin Aydin Keles
	</div>
	<div>
		The Family - Amerikan Iktidarinin Kalbindeki Gizli Fundamentalizm | Jeff
		Sharlet
	</div>
	<div>
		Asapscience - Dunyanin En Garip Sorularina, En Meshur Soylentilerine ve
		Aciklanmamis Olaylarina Cevaplar | Mitchell Moffit, Greg Brown
	</div>
	<div>
		Hesap Lutfen! - Ozgun, Dengeli ve Lezzetli Bir Yasamin Pesinde | Vedat
		Milor, Nurhak Kaya
	</div>
	<div>80 Trenle Dunya Turu | Monisha Rajesh</div>
	<div>
		Catalin Neden Tadi Yoktur? - Ve Bilimi Sevdiren Bircok Ilginc Soru, Hem de
		Evden Cikmadan!. Devis Bellucci
	</div>
	<div>
		Yuz Yogasi - Dogal Yuz Gerdirme ile Kirisikliklardan Kurtulma | Annelise
		Hagen
	</div>
	<div>Deha - Steve Jobs’in Kisa Tarihi | Anthony C. Brown</div>
	<div>Orneklerle Kolay Ekonomi | Mahfi Egilmez</div>
	<div>Hedge Cambazlari | Barton Biggs</div>
	<div>Erkek Beyni | Louann Brizendine</div>
	<div>Orta Yas ve Sonrasinda Kadin Beyni | Louann Brizendine</div>
	<div>Kadin Beyni | Louann Brizendine</div>
	<div>
		Yetiskin Olmak - Buyumek ve Duygusal Olgunluga Erismek | Lara A. Fielding
	</div>
	<div>Ruhsal Astroloji | Jan Spiller</div>
	<div>
		Astroloji 101 - Gunes Burclarindan, Ay Burclarina Astroloji Hakkinda
		Bilmeniz Gereken Her Sey | Kathleen Sears
	</div>
	<div>
		Blockbusters Hit Yapim Stratejileri ve Riskler - Eglencenin Buyuk Ekonomisi
		| Anita Elberse
	</div>
	<div>Zenginler Yoksullar ve Robotlor | Deniz Can Saner</div>
	<div>Zeki Oldugunu Hala Dusunuyor musun? | John Farndon</div>
	<div>Zeki Oldugunu Dusunuyor musun? | John Farndon</div>
	<div>
		Zehirsiz Ev - Yasaminizdan Zararli Kimyasallari Eksiltmenin Basit Yollari |
		Mercan Yurdakuler Uluengin
	</div>
	<div>
		Y’leri Anla, Degistirme - Kurumsal Hayatta Milenyum Kusagi ve Iletisim |
		Elif Basak Sarioglu
	</div>
	<div>Yonetimin Gelecegi. Gary Hamel</div>
	<div>Yeniligin 3M Yolu | Ernest Gundling</div>
	<div>Yenile | Satya Nadella</div>
	<div>Yeni Onculer | Thomas Petzinger</div>
	<div>Yeni Liderler | Daniel Goleman, Richard Boyatzis, Annie Mckee</div>
	<div>Yasayan Sirket | Arie De Geus</div>
	<div>Yaptigimiz Seyleri Neden Yapariz? | Joel Levy</div>
	<div>Yalnizca Eglenmek Icin | Linus Torvalds</div>
	<div>Yalniz Yasama Egzersizleri | Bahar Ozturk</div>
	<div>Yakin Iliski - Yeniden Kadin ve Erkek Olabilmek | David Deida</div>
	<div>
		Vesikali Yurttas - Gozetim Araci Olarak Kimlik Kartlari | David Lyon
	</div>
	<div>Veri Stratejisi | Bernard Marr</div>
	<div>Vegan Saglik | Murat Kinikoglu</div>
	<div>Vegan Beslenme | Murat Kinikoglu</div>
	<div>Ustalik Gerektiren Kafaya Takmama Sanati | Mark Manson</div>
	<div>Unilever'i Yenilemek | Geoffrey Jones</div>
	<div>Uluslararasi Pazarlama Ilkeler ve Uygulamalar | Cem Kozlu</div>
	<div>
		Twitter ve Toplum | Katrin Weller, Axel Bruns, Jean Burgess, Merja Mahrt,
		Cornelius Puschmann
	</div>
	<div>
		Tuketim Toplumu, Nevrotik Kultur ve Dovus Kulubu | Hakan Ovunc Ongur
	</div>
	<div>
		Tuketicinin Zekasini Asla Kucumsemeyen Buyuk Bir Usta | David Ogilvy
	</div>
	<div>Tuketici Nasil Dusunur? | Gerald Zaltman</div>
	<div>Tuketici Kralliginin Fethi | Michael R. Solomon</div>
	<div>Trend Avcisi - Bildigimiz Her Sey Yanlis | Magnus Lindkvist</div>
	<div>Toyota Kulturu | Jeffrey K. Liker, Michael Hoseus</div>
	<div>
		Toplumsal Cinsiyet - Sosyal Psikolojik Aciklamalar | Zehra Y. Dokmen
	</div>
	<div>Tibbin Gelecegine Yolculuk | Bertalan Mesko</div>
	<div>Thrive - Basari Icinizdedir | Arianna Huffington</div>
	<div>Tercih Sizin (Yetiskinler Icin) | Al Gore</div>
	<div>Telgraftan Tablete | Evrim Kuran</div>
	<div>Televizyon ve Icimizdeki Siddet | Nilgun Tutal Cheviron</div>
	<div>Tek Yol Permakultur | Graham Bell</div>
	<div>TED Konusmalari | Chris J. Anderson</div>
	<div>
		TED Gibi Konus - Dunyanin En Iyi Beyinlerine Gore Topluluk Onunde Konusmanin
		9 Sirri | Carmine Gallo
	</div>
	<div>
		Taslar Yerinden Oynarken - Dijital Pazarlamanin Kurallari | Fatos Karahasan
	</div>
	<div>Switch Degistir! | Chip Heath, Dan Heath</div>
	<div>
		Sutlu mu? Kopuklu mu? Hayatinizi Degistirecek 120 Karar | Hilly Janes
	</div>
	<div>Surdurulebilir Moda | Solen Kipoz (Editör)</div>
	<div>Super Sirket | Rosabeth Moss Kanter</div>
	<div>
		Suc II - Bir Ceza Avukatindan Gercek Hikayeler | Ferdinand von Schirach
	</div>
	<div>
		Suc - Bir Ceza Avukatindan Gercek Hikayeler | Ferdinand von Schirach
	</div>
	<div>Stres Yogasi | Neslihan Iskit</div>
	<div>Strateji Yasalari | Michael A. Cusumano, David B. Yoffie</div>
	<div>Stoacinin Gunlugu | Ryan Holiday, Stephen Hanselman</div>
	<div>Starbucks Hayatimi Nasil Kurtardi | Michael Gates Gill</div>
	<div>Starbucks Deneyimi (Mucizesi) | Joseph A. Michelli</div>
	<div>
		Sosyalizm 101 - Bolsevikler Ve Karl Marx’tan Demokratik Sosyalistlere Kadar
		Sosyalizm Hakkinda Bilmeniz Gereken Her Sey | Kathleen Sears
	</div>
	<div>Sosyal Sebekelerin Sakli Gucu | Rob Cross, Andrew Parker</div>
	Sosyal
	<div>Psikolojide Tutumlar ve Tutum Degisimi | Nuray Sakalli</div>
	<div>Sosyal Etkiler - Kim Kimi Nasil Etkiler? | Nuray Sakalli</div>
	<div>Sokrates'le Bir Aksam Yemegi | Steve Jobs</div>
	<div>Sirket Ittifaklari | Yves L. Doz, Gary Hamel</div>
	<div>Simdi Ne Yapiyoruz | Gary Hamel</div>
	<div>
		Simdi Anladim! - Perakende ve Kisitlar Teorisi | Eliyahu M. Goldratt
	</div>
	<div>Sifirdan Bire | Peter Thiel, Blake Masters</div>
	<div>Sifir Atik Icin 101 Yol | Kathryn Kellogg</div>
	<div>Siber Savas | Richard A. Clarke, Robert K. Knake</div>
	<div>Siber Guvenlik ve Siber Savas | P. W. Singer, Allan Friedman</div>
	<div>Sensiz Ben | Lisa Swerling, Ralph Lazar</div>
	<div>Sen Basla Gerisi Gelir | Ben Casnocha, Reid Hoffman</div>
	<div>Savas Bulmacasi | John A. Vasquez</div>
	<div>
		Satisin Yeni Kurallari - Insanlari Harekete Gecirmenin Sirlari | Daniel H.
		Pink
	</div>
	<div>
		Satin Alma Translari - Satis ve Pazarlamanin Yeni Psikolojisi | Joe Vitale
	</div>
	<div>
		Rus Ruletinde Nasil Kazanirsiniz ve Diger Olumcul Mantik Sorulari | Thomas
		Byrne, Tom Cassidy
	</div>
	<div>Reklamin Dili | Ugur Bati</div>
	<div>Reklam Dunyasinin Krali David Ogilvy | Kenneth Roman</div>
	<div>Rekabet Ustu | Edward de Bono</div>
	<div>
		Psikolojide Insan Modelleri ve Yerel Insan Modellerimiz | Sibel Aysen
		Arkonac
	</div>
	<div>
		Psikoloji 101 - Yasantimizi Bicimlendirmis 101 Fikir, Kavram ve Kuram |
		Adrian Furnham
	</div>
	<div>Post Imaj Devri | John Grant</div>
	<div>
		Pomodoro Teknigi - Hayat Kurtaran Zaman Yonetimi Sistemi | Francesco Cirillo
	</div>
	<div>Peynirimi Kim Kapti? | Spencer Johnson</div>
	<div>Pembe Fili Dusunme | Zeynep Selvili Carmikli</div>
	<div>Pazarlama Metaforlari | Gerald Zaltman, Lindsay Zaltman</div>
	<div>Pazarlama 3.0 | Philip Kotler, Hermawan Kartajaya, Iwan Setiawan</div>
	<div>
		P&G'nin 165 Yillik Seruveni | Davis Dyer, Frederick Dalzell, Rowena Olegario
	</div>
	<div>O Kadar Basit ki! | Ken Segall</div>
	<div>Nefesin Sifa Veren Gucu | Richard P. Brown, Patricia L. Gerbarg</div>
	<div>Nbr Gnclk | Ayse Onursal</div>
	<div>Nasil Steve Jobs Olunur? | Leander Kahney</div>
	<div>Mutluluk… - Mutlu Olunacak 500 Sey | Lisa Swerling, Ralph Lazar</div>
	<div>Mukemmeli Secmek | Jim Collins, Morten T. Hansen</div>
	<div>Modanin Iktidari | Arzu Suzmen</div>
	<div>Moda Sistemi | Roland Barthes</div>
	<div>Moda Moda Dedikleri | Melis Alphan</div>
	<div>Moda Donek Bir Tanricadir. Aysun Kaba</div>
	<div>Masal Terapi | Judith Malika Liberman</div>
	<div>Marka Yonetimi | Ugur Bati</div>
	<div>Marka Akli | Duanne E. Knapp</div>
	<div>
		Lean In Sinirlarini Zorla - Kadinlar, Is ve Liderlik Istegi | Sheryl
		Sandberg
	</div>
	<div>Kuresel Dusler | Richard J. Barnet, John Cavanagh</div>
	<div>Kucuk Mavi Kus Dedi ki | Biz Stone</div>
	<div>
		Kucuk Insanlardan Buyuk Sorular Hayli Muhim Insanlardan Basit Cevaplar |
		Komisyon
	</div>
	<div>Kucuk Guzeldir | Seth Godin</div>
	<div>Kola Savasi Nasil Kazanildi? | Roger Enricio, Jesse Kornbluth</div>
	<div>Kim Korkar Hain 40'tan. Aysun Kaba</div>
	<div>Kim Demis Filler Dans Edemez | Louis V. Gerstner</div>
	<div>Kendini Icinde Ara | Chade Meng Tan</div>
	<div>
		Kendinden Kacarken Yakaladim Seni - Mutluluk Kilavuzu | Ebru Nurluoglu
	</div>
	<div>Kendi Stilini Yarat | Ruzgar Mira Okan</div>
	<div>Kazanma Hirsi - Girisimciler Icin Hayat Dersleri | Robert Herjavec</div>
	<div>
		Kapitalizmin Yedi Kulturu | Charles Hampden, Turner ve Alfons Trompenaars
	</div>
	<div>Kapitalizmin Gelecegi | Lester C. Thurow</div>
	<div>Kalici Olmak | James C. Collins, Jerry I. Porras</div>
	<div>
		Kadinlara Pazarlama - Kadin Tuketicilerin Kalbine Ulasmanin Yollari | Mary
		Lou Quinlan
	</div>
	<div>Kadinlar Neden Satin Alir? | Paco Underhill</div>
	<div>Iyi'den Mukemmel Sirkete | Jim Collins</div>
	<div>Iyi Sirket | Philip Kotler, Nancy R. Lee, David Hessekiel</div>
	<div>Iste Bu Fikir Tutar! | Chip Heath, Dan Heath</div>
	<div>
		Issiz Yasam - Issizligin ve Is Guvencesizliginin Birey ve Aile Uzerindeki
		Etkileri | Nebi Sumer, Nevin Solak, Mehmet Harma
	</div>
	<div>Isbasinda Duygusal Zeka | Daniel Goleman</div>
	<div>Is'te Beyniniz | David Rock</div>
	<div>Insani Anlama Cabasi | Serpil Aytac</div>
	<div>Insan Yonetimi | Robert H. Rosen</div>
	<div>Insan Dogasinin Yasalari | Robert Greene</div>
	<div>Incognito - Beynin Gizli Hayati | David Eagleman</div>
	<div>Ilimli Vegan | Oben Budak</div>
	<div>
		Iletisim Kitabi - Dogru Iletisim Icin 44 Fikir | Mikael Krogerus, Roman
		Tschappeler
	</div>
	<div>Ikigai Uygulama Rehberi | Francesc Miralles, Hector Garcia</div>
	<div>Hizli Ogrenme Bilimi | Peter Hollins</div>
	<div>Hiz | Jeff Cox, Dee Jacob, Suzan Bergland</div>
	<div>Hikaye Anlaticisinin Sirri | Carmine Gallo</div>
	<div>Her Gune Bir Yasa | Robert Greene</div>
	<div>Her Gun Seni Merkeze Koyan Bir Sey Yap | Robie Rogge, Dian G. Smith</div>
	<div>Her Gun Sana Korku Veren Bir Sey Yap | Robie Rogge, Dian G. Smith</div>
	<div>Her Gun Sana Ilham Veren Bir Sey Yap | Robie Rogge, Dian G. Smith</div>
	<div>
		Gumus Kursun - Enron'un Inanilmaz Yukselisi ve Onlenemeyen Cokusu | Bethany
		McLean, Peter Elkind
	</div>
	<div>
		Guc Merkezli Yonetim - Orgutlerde Politika ve Nufuz | Jeffrey Pfeffer
	</div>
	<div>Guc | Jeffrey Pfeffer</div>
	<div>Gozunu Dort Ac | Noreena Hertz</div>
	<div>Gozumuz Neden Doymaz? | Diana Von Kopp, Melanie Muhl</div>
	<div>Google'in Buyulu Oykusu | John Battele</div>
	<div>
		Google Hikayesi - Cagimizin En Yeni Is, Medya ve Teknoloji Basarisi | David
		A. Vise, Mark Malseed
	</div>
	<div>Goc Sosyolojisi | Cemal Yalcin</div>
	<div>Giydirilmis Insan Kimligi | Nur Serter</div>
	<div>Gerceklik Dakikalari | Jan Carlzon</div>
	<div>Genel ve Endustriyel Yonetim | Henri Fayol</div>
	<div>Gelecek Zamanda Dusunmek | Jennifer James</div>
	<div>Gelecegi Yeniden Dusunmek | Kollektif</div>
	<div>Gelecegi Uretenler - Makers | Chris Anderson</div>
	<div>Gelecegi Kesfedenler - Dijital Cagin Biyografisi | Walter Isaacson</div>
	<div>Gelecegi Kazanmak | C. K. Prahalad, Gary Hamel</div>
	<div>Franchise Orgutlenmeler | Jeffrey Alexander</div>
	<div>Foya - Modanin Anti-Kapitalist Kitabi | Tansy E. Hoskins</div>
	<div>Feng Shui Yasamla Uyum ve Denge Sanati | Mirac Atuna</div>
	<div>Feng Shui Ile Yasamini Yeniden Yarat | Yaron Zafran</div>
	<div>Feng Shui | Zeynep Akcay</div>
	<div>
		Erteleme Sanati - Oyalanma, Savsaklama ve Kaytarma Rehberi | John Perry
	</div>
	<div>Erkeklerin Gelecegi | Ira Matathia, Ann O'Relly, Marian Salzman</div>
	<div>Engel Yolun Kendisidir | Ryan Holiday</div>
	<div>Enformasyonun Sosyal Yasami | John Seely Brown, Paul Duguid</div>
	<div>Ego Dusmanindir | Ryan Holiday</div>
	<div>Efsaneler ve Gercekler - Pazarlama Nasil Yapilir? | Temel Aksoy</div>
	<div>
		Duz Dunyada Rekabet | Yoram Jerry Wind, Victor K. Fung, William K. Fung
	</div>
	<div>Dusunce Hizinda Calismak | Bill Gates</div>
	<div>
		Dunyayi Salata Sosuyla Nasil Kurtarirsiniz? ve Diger Acimasiz Bilim Sirlari
		| Thomas Byrne, Tom Cassidy
	</div>
	<div>Dunya Bitkileri | Stefano Mancuso</div>
	<div>Dolayli Yol | John Kay</div>
	<div>Dizilerde Psikoloji ve Anormal Davranislar | Tarik Solmus</div>
	<div>Dinlen | Alex Soojung, Kim Pang</div>
	<div>Dijital Dunya | Nicholas Negroponte</div>
	<div>Dijital Donusumde Oyunun Kurallari | David Rogers</div>
	<div>Devrimin Basina Gecin | Gary Hamel</div>
	<div>Delifiseklik | Kjell A. Nordstrom, Jonas Ridderstrale</div>
	<div>Cozum Bulma Sanati | Hamish McRae</div>
	<div>Col mu Cennet mi? | Sepp Holzer</div>
	<div>Coca Cola'da CEO Olmak | Neville Isdell, David Beasley</div>
	<div>
		Cluetrain Manifestosu | Rick Levine, Doc Searls, Christopher Locke, David
		Weinberger
	</div>
	<div>Checklist Manifesto - Isler Nasil Dogru Yapilir | Atul Gawande</div>
	<div>Cesur Yeni Dunya | William Knoke</div>
	<div>Cay ve Zen | Okakura Kakuzo</div>
	<div>Cay Kitabi | Kakuzo Okakura</div>
	<div>Calismaya Ruh Verenler | Roger Lewin, Birute Regine</div>
	<div>Buyume Korsanligi Pazarlamasi | Ryan Holiday</div>
	<div>Buyuk Veri Is Basinda | Bernard Marr</div>
	<div>Bugun En Guzel Gun Olsun | Fatos Ayvaz</div>
	<div>Biyocesitlilik | Stefano Mancuso, Carlo Petrini</div>
	<div>Bitkilerin Inanilmaz Yolculugu | Stefano Mancuso</div>
	<div>Bitkilere Asik Adamlar | Stefano Mancuso</div>
	<div>Bitki Ulusu | Stefano Mancuso</div>
	<div>
		Biskuviyi Caya Yatay Bandirin - Gundelik Hayata Dair 104 Garip Bilimsel
		Gercek | Rik Kuiper, Tonie Mudde
	</div>
	<div>Birakmak | David R. Hawkins</div>
	<div>Birak Daginik Kalsin | Rik Kuiper, Tonie Mudde</div>
	<div>Bir Vegan ile Evlendim - Maalesef Gercek Bir Hikaye | Fausto Brizzi</div>
	<div>Bir Tek Sey | Gary Keller, Jay Papasan</div>
	<div>Made in Japan - Akio Morita and Sony | Akio Morita</div>
	<div>Bir Issizin Gunlugu ve Is Arayanlara Oneriler | Dogan Satmis</div>
	<div>Bilimsel Yonetimin Ilkeleri | Frederick Winslon Taylor</div>
	<div>Beyin - Senin Hikayen | David Eagleman</div>
	<div>
		Beyaz Yakali Girisimci - Girisimci Hayata Yumusak Gecis | Fatmanur Erdogan
	</div>
	<div>Bes Yildiz | Carmine Gallo</div>
	<div>Beni Guzel Gosterdi mi? | Leah Feldon</div>
	<div>Ben, Steve - Steve Jobs Konusuyor | George Beahm</div>
	<div>Ben Kalender Mesrebim | Charles Handy</div>
	<div>
		Balik! Enerjiyi Yakalayin - Potansiyelinizi Ortaya Cikarin | Stephen C.
		Lundin, Harry Paul, John Christensen
	</div>
	<div>Baglilik | Lee G. Bolman , Joan V. Gallos</div>
	<div>Aysun Kaba ile Stilini Kesfet | Aysun Kaba</div>
	<div>Armagan | Spencer Johnson</div>
	<div>
		Arkadaslik… Arkadasligin Degerini Bilmek Icin 500 Neden | Lisa Swerling,
		Ralph Lazar
	</div>
	<div>Aradigin Her Sey - Jeff Bezos ve Amazon Cagi | Brad Stone</div>
	<div>
		APP Kusagi - Dijital Dunyada Kimlik, Mahremiyet ve Hayal Gucu | Howard
		Gardner, Katie Davis
	</div>
	<div>Amac | Jeff Cox, Eliyahu M. Goldratt</div>
	<div>Altin Kemer Efsanesi | John F. love</div>
	<div>
		Alternatif Medyayi Anlamak | Olga Guedes Balley, Bart Cammaerts, Nico
		Carpentier
	</div>
	<div>Alisveriste Kadin Erkek | Elizabeth Pace</div>
	<div>Aklin Yeni Sinirlari | Daniel H. Pink</div>
	<div>
		Acik Liderlik - Sosyal Teknoloji Yonetme Tarzinizi Nasil Degistirir? |
		Charlene Li
	</div>
	<div>
		Acemi Yoginin Elkitabi - Yeni Baslayanlar Icin Yoga | Esra E. Karaosmanoglu
	</div>
	<div>Acemi Yoginin Ayurveda Yolculugu | Esra E. Karaosmanoglu</div>
	<div>80 / 20 Ilkesi | Richard Koch</div>
	<div>30 Mumlu Pasta | Banu Ozdemir</div>
	<div>11 Eylul | Noam Chomsky</div>
	<div>11 Eylul ve Sonrasi Dunya Nereye Gidiyor | Noam Chomsky</div>
	<div>
		% 100 Yakistir - Butunleyici Giysi, Makyaj, Sac ve Aksesuar Tonlari | Oya
		Komar
	</div>
	<div>Moda2014 | Tuba Unsal</div>
</i>
<br />
<i> gaveaway: 286 </i>
<div style="clear: both"></div>
