---
layout: page-6
published: true
last_modified_at: 2025-12-03
title: "house-2 List"
---

{%-include backtotop.html-%}
<br />

<style>
	table.zebra tr:nth-child(n + 2):nth-child(even) {
		background-color: #f2f2f2;
	}
</style>

<table class="zebra">
	<tr>
		<th style="text-align: left">#</th>
		<th style="text-align: left">name of the book</th>
		<th style="text-align: left">author</th>
		<th style="text-align: left">year</th>
		<th style="text-align: left">page</th>
		<th style="text-align: left">info</th>
		<th style="text-align: left">image</th>
	</tr>

	{% for item in site.data.list %} {% if item.location == "house-2" %}
	<tr>
		<td>{{ item.bookshelf }}</td>
		<td>
			<a
				href="{{ site.baseurl }}booklist#{{ item.bookshelf }}"
				name="{{ item.bookshelf }}"
				><b>{{ item.title }}</b></a
			>
		</td>
		<td>{{ item.author }}</td>
		<td>
			<a
				name="{{ item.title }}"
				title="google search"
				href="https://www.google.com/search?q={{ item.title }}%20{{ item.author }}"
				target="_blank"
				rel="noreferrer,nofollow"
			>
				google
			</a>
		</td>
		<td>{{ item.year }}</td>
		<td>{{ item.page }}</td>
		<td>
			<a
				name="{{ item.title }}"
				title="google search"
				href="https://www.google.com/search?q={{ item.title }}%20{{ item.author }}&tbm=isch"
				target="_blank"
				rel="noreferrer,nofollow"
			>
				google images
			</a>
		</td>
	</tr>
	{% endif %} {% endfor %}
</table>
<br />
<div style="clear: both"></div>
<!-- house-2 size -->
{% assign loc_data = site.data.list %} {% assign status_house2 = loc_data |
where: "location", "house-2" | size %}
<!-- {{ }} -->
<i> {{ status_house2 }} in house-2</i>
<br />
<div style="clear: both"></div>
