---
layout: page-6
published: true
last_modified_at: 2025-04-22
title: "Reread List"
---

{%-include backtotop.html-%}
<br />
{% for item in site.data.list %} {% if item.reread == "yes" %}
<div>
	<i
		><a
			href="{{ site.baseurl }}booklist#{{ item.bookshelf }}"
			name="{{ item.bookshelf }}"
			>{{ item.bookshelf }}.</a
		>
		{{ item.title }} | {{ item.author }}
	</i>
</div>
{% else %}
<div style="visibility: hidden"></div>
{% endif %} {% endfor %}
<div>.....</div>
<!-- {%-include reread.html-%} -->
{% for item in site.data.reread %}
<div>
	<i>{{ forloop.index }}. {{ item.title }} | {{ item.author }} </i>
</div>
{% endfor %}
<br />
