---
layout: page-6
published: true
last_modified_at: 2025-04-22
title: "TBR List"
---

{%-include backtotop.html-%}
<br />
<!-- TBR yes -->
<div style="color: #b7b2b2">
	{% assign tbr_data = site.data.list %} {% assign tbr_yes = tbr_data | where:
	"tbr", "yes" | size %}
	<div><i>TBR: {{ tbr_yes }} </i></div>
</div>

<!-- TBR n/a -->
<div style="color: #b7b2b2">
	{% assign tbrna_data = site.data.list %} {% assign tbr_na = tbrna_data |
	where: "tbr", "n/a" | size %}
	<div><i>TBR n/a: {{ tbr_na }} </i></div>
</div>

<!-- TBR no -->
<div style="color: #b7b2b2">
	{% assign tbrno_data = site.data.list %} {% assign tbr_no = tbrno_data |
	where: "tbr", "no" | size %}
	<div><i>TBR no: {{ tbr_no }} </i></div>
</div>

<!-- TBR reading -->
<div style="color: #b7b2b2">
	{% assign tbrreading_data = site.data.list %} {% assign tbr_reading =
	tbrreading_data | where: "tbr", "reading" | size %}
	<div><i>TBR reading: {{ tbr_reading }} </i></div>
</div>

<!-- TBR read + read all -->
<div style="color: #b7b2b2">
	{% assign tbrread_data = site.data.list %} {% assign tbr_read = tbrread_data |
	where: "tbr", "read" | size %}
	<div><i>TBR read: {{ tbr_read }} </i></div>
	<div>
		<i
			>&nbsp; &nbsp; &nbsp; TBR read all: {{ tbr_read | plus: '15' | plus: '50'
			}}
		</i>
	</div>
</div>
<!-- total -->
<div style="color: #b7b2b2">
	<i
		>total: {{ tbr_read | plus: tbr_no | plus: tbr_yes | plus: tbr_reading }}
	</i>
</div>
<br />
<!-- TBR missing -->
<i>missing?</i>
<br />
{% for item in site.data.list %} {% if item.tbr == "" %}
<div>
	<i
		><a
			href="{{ site.baseurl }}booklist#{{ item.bookshelf }}"
			name="{{ item.bookshelf }}"
			>{{ item.bookshelf }}.</a
		>
		{{ item.title }} | {{ item.author }}
	</i>
</div>
{% elsif item.tbr == nil %}
<div>
	<i
		><a
			href="{{ site.baseurl }}booklist#{{ item.bookshelf }}"
			name="{{ item.bookshelf }}"
			>{{ item.bookshelf }}.</a
		>
		{{ item.title }} | {{ item.author }}
	</i>
</div>
{% elsif item.tbr == "-" %}
<div>
	<i
		><a
			href="{{ site.baseurl }}booklist#{{ item.bookshelf }}"
			name="{{ item.bookshelf }}"
			>{{ item.bookshelf }}.</a
		>
		{{ item.title }} | {{ item.author }}
	</i>
</div>
{% else %}
<div style="visibility: hidden"></div>
{% endif %} {% endfor %}
<br />
<div style="color: #b7b2b2">
	{% assign tbrmissing_data = site.data.list %} {% assign tbr_missing =
	tbrmissing_data | where: "tbr", "" | size %}
	<div><i>TBR missing?: {{ tbr_missing }} </i></div>
</div>
<br />
<div><i>Reading List</i></div>
{% for item in site.data.list %} {% if item.tbr == "reading" %}
<div>
	<i>
		<a
			href="{{ site.baseurl }}booklist#{{ item.bookshelf }}"
			name="{{ item.bookshelf }}"
		>
			<span style="color: #b7b2b2"> {{ item.bookshelf }}. </span>
		</a>
		{{ item.title }} | {{ item.author }}
	</i>
</div>
{% else %}
<div style="visibility: hidden"></div>
{% endif %} {% endfor %}
<div><i>TBR reading: {{ tbr_reading }} </i></div>
<br />
<div><i>TBR List</i></div>
{% for item in site.data.list %} {% if item.tbr == "yes" %}
<div>
	<i>
		<a
			href="{{ site.baseurl }}booklist#{{ item.bookshelf }}"
			name="{{ item.bookshelf }}"
		>
			<span style="color: #b7b2b2"> {{ item.bookshelf }}. </span>
		</a>
		{{ item.title }} | {{ item.author }}
	</i>
</div>
{% else %}
<div style="visibility: hidden"></div>
{% endif %} {% endfor %}
<br />
