---
layout: page-6
published: true
last_modified_at: 2023-09-22
title: "TBR List"
---

{%-include backtotop.html-%}
<br />
{% for item in site.data.list %} {% if item.tbr == "yes" %}
<div>
	<i
		><a
			href="{{ site.baseurl }}booklist#{{ item.bookshelf }}"
			name="{{ item.bookshelf }}"
			>{{ forloop.index }}.</a
		>
		{{ item.title }} | {{ item.author }}
	</i>
</div>
{% else %}
<div style="visibility: hidden"></div>
{% endif %} {% endfor %}
<br />
<div style="color: #b7b2b2">
	{% assign tbr_data = site.data.list %} {% assign tbr_yes = tbr_data | where:
	"tbr", "yes" | size %}
	<div><i>TBR: {{ tbr_yes }} </i></div>
</div>

<div style="color: #b7b2b2">
	{% assign tbrna_data = site.data.list %} {% assign tbr_na = tbrna_data |
	where: "tbr", "n/a" | size %}
	<div><i>TBR n/a: {{ tbr_na }} </i></div>
</div>

<div style="color: #b7b2b2">
	{% assign tbrno_data = site.data.list %} {% assign tbr_no = tbrno_data |
	where: "tbr", "no" | size %}
	<div><i>TBR no: {{ tbr_no }} </i></div>
</div>

<div style="color: #b7b2b2">
	{% assign tbrread_data = site.data.list %} {% assign tbr_read = tbrread_data |
	where: "tbr", "read" | size %}
	<div><i>TBR read: {{ tbr_read }} </i></div>
</div>
<br />
missing?
<br />
{% for item in site.data.list %} {% if item.tbr != "" %}
<div>
	<i
		><a
			href="{{ site.baseurl }}booklist#{{ item.bookshelf }}"
			name="{{ item.bookshelf }}"
			>{{ forloop.index }}.</a
		>
		{{ item.title }} | {{ item.author }}
	</i>
</div>
{% else %}
<div style="visibility: hidden"></div>
{% endif %} {% endfor %} {% for item in site.data.list %} {% if item.tbr != nil
%}
<div>
	<i
		><a
			href="{{ site.baseurl }}booklist#{{ item.bookshelf }}"
			name="{{ item.bookshelf }}"
			>{{ forloop.index }}.</a
		>
		{{ item.title }} | {{ item.author }}
	</i>
</div>
{% else %}
<div style="visibility: hidden"></div>
{% endif %} {% endfor %}{% for item in site.data.list %} {% if item.tbr != "-"
%}
<div>
	<i
		><a
			href="{{ site.baseurl }}booklist#{{ item.bookshelf }}"
			name="{{ item.bookshelf }}"
			>{{ forloop.index }}.</a
		>
		{{ item.title }} | {{ item.author }}
	</i>
</div>
{% else %}
<div style="visibility: hidden"></div>
{% endif %} {% endfor %}
