---
layout: page-6
published: true
last_modified_at: 2025-03-31
title: "Psychology & Mental Life"
---

{%-include backtotop.html-%}
<br />
{% for item in site.data.list %} {% if item.categories == "psychology mental
life" %}
<div>
	<i
		><a
			href="{{ site.baseurl }}booklist#{{ item.bookshelf }}"
			name="{{ item.bookshelf }}"
			>{{ item.title }} | {{ item.author }}</a
		>
	</i>
</div>
{% else %}
<div style="visibility: hidden"></div>
{% endif %} {% endfor %}
<br />

<!-- size -->
{% assign cat_data = site.data.list %} {% assign cat_psychologymentallife =
cat_data | where: "categories", "psychology mental life" | size %}
<!-- {{ }} -->
{{ cat_psychologymentallife }}
