<div style="position: fixed; right: 3%; top: 65%">
	<div>
		<i>
			<a href="#">Back to top &#8593;</a>
		</i>
	</div>
	<div style="color: #ccc6c6">
		<i>
			<a href="https://homelibrary.next52books.com">Search</a>
		</i>
	</div>
	<div style="color: #ccc6c6">
		<i>
			<a href="	https://homelibrary.next52books.com/browse/">Browse</a>
		</i>
	</div>
	<div style="color: #ccc6c6">
		<i>
			<a href="	https://homelibrary.next52books.com/add-a-photo/"
				>add a photo!</a
			>
		</i>
	</div>

	<div style="color: #ccc6c6">
		<i>
			<a href="https://homelibrary.next52books.com/booklist">Book List</a>
		</i>
	</div>
	<div style="color: #ccc6c6">
		<i>
			<a href="https://homelibrary.next52books.com/thelist">The List</a>
		</i>
	</div>
	<div style="color: #ccc6c6">
		<i>
			<a href="	https://homelibrary.next52books.com/old-library/"
				>Library Old Version</a
			>
		</i>
	</div>
	<div style="color: #ccc6c6">
		<i>
			<a href="https://www.next52books.com/qr-tools">QR Tools</a>
		</i>
	</div>
</div>
