Home F
<table>
	<thead>
		<tr>
			<td>.</td>
			<th>1</th>
			<th>2</th>
			<th>3</th>
			<th>4</th>
			<th>5</th>
			<th>6</th>
			<th>7</th>
			<th>8</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>A</th>
			<td>
				<a href="assets/shelves/1-A.png"
					>1-A | {% assign books_data = site.data.list %} {% assign shelf_1a =
					books_data | where: "notes", "1-A" | size %} {{ shelf_1a }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/2-A.png"
					>2-A | {% assign books_data = site.data.list %} {% assign shelf_2a =
					books_data | where: "notes", "2-A" | size %} {{ shelf_2a }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/3-A.png"
					>3-A | {% assign books_data = site.data.list %} {% assign shelf_3a =
					books_data | where: "notes", "3-A" | size %} {{ shelf_3a }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/4-A.png"
					>4-A | {% assign books_data = site.data.list %} {% assign shelf_4a =
					books_data | where: "notes", "4-A" | size %} {{ shelf_4a }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/5-A.png"
					>5-A | {% assign books_data = site.data.list %} {% assign shelf_5a =
					books_data | where: "notes", "5-A" | size %} {{ shelf_5a }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/6-A.png"
					>6-A | {% assign books_data = site.data.list %} {% assign shelf_6a =
					books_data | where: "notes", "6-A" | size %} {{ shelf_6a }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/7-A.png"
					>7-A | {% assign books_data = site.data.list %} {% assign shelf_7a =
					books_data | where: "notes", "7-A" | size %} {{ shelf_7a }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/8-A.png"
					>8-A | {% assign books_data = site.data.list %} {% assign shelf_8a =
					books_data | where: "notes", "8-A" | size %} {{ shelf_8a }}</a
				>
			</td>
		</tr>
		<tr>
			<th>B</th>
			<td>
				<a href="assets/shelves/1-B.png"
					>1-B | {% assign books_data = site.data.list %} {% assign shelf_1b =
					books_data | where: "notes", "1-B" | size %} {{ shelf_1b }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/2-B.png"
					>2-B | {% assign books_data = site.data.list %} {% assign shelf_2b =
					books_data | where: "notes", "2-B" | size %} {{ shelf_2b }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/3-B.png"
					>3-B | {% assign books_data = site.data.list %} {% assign shelf_3b =
					books_data | where: "notes", "3-B" | size %} {{ shelf_3b }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/4-B.png"
					>4-B | {% assign books_data = site.data.list %} {% assign shelf_4b =
					books_data | where: "notes", "4-B" | size %} {{ shelf_4b }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/5-B.png"
					>5-B | {% assign books_data = site.data.list %} {% assign shelf_5b =
					books_data | where: "notes", "5-B" | size %} {{ shelf_5b }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/6-B.png"
					>6-B | {% assign books_data = site.data.list %} {% assign shelf_6b =
					books_data | where: "notes", "6-B" | size %} {{ shelf_6b }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/7-B.png"
					>7-B | {% assign books_data = site.data.list %} {% assign shelf_7b =
					books_data | where: "notes", "7-B" | size %} {{ shelf_7b }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/8-B.png"
					>8-B | {% assign books_data = site.data.list %} {% assign shelf_8b =
					books_data | where: "notes", "8-B" | size %} {{ shelf_8b }}</a
				>
			</td>
		</tr>
		<tr>
			<th>C</th>
			<td>
				<a href="assets/shelves/1-C.png"
					>1-C | {% assign books_data = site.data.list %} {% assign shelf_1c =
					books_data | where: "notes", "1-C" | size %} {{ shelf_1c }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/2-C.png"
					>2-C | {% assign books_data = site.data.list %} {% assign shelf_2c =
					books_data | where: "notes", "2-C" | size %} {{ shelf_2c }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/3-C.png"
					>3-C | {% assign books_data = site.data.list %} {% assign shelf_3c =
					books_data | where: "notes", "3-C" | size %} {{ shelf_3c }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/4-C.png"
					>4-C | {% assign books_data = site.data.list %} {% assign shelf_4c =
					books_data | where: "notes", "4-C" | size %} {{ shelf_4c }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/5-C.png"
					>5-C | {% assign books_data = site.data.list %} {% assign shelf_5c =
					books_data | where: "notes", "5-C" | size %} {{ shelf_5c }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/6-C.png"
					>6-C | {% assign books_data = site.data.list %} {% assign shelf_6c =
					books_data | where: "notes", "6-C" | size %} {{ shelf_6c }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/7-C.png"
					>7-C | {% assign books_data = site.data.list %} {% assign shelf_6c =
					books_data | where: "notes", "7-C" | size %} {{ shelf_6c }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/8-C.png"
					>8-C | {% assign books_data = site.data.list %} {% assign shelf_8c =
					books_data | where: "notes", "8-C" | size %} {{ shelf_8c }}</a
				>
			</td>
		</tr>
		<tr>
			<th>D</th>
			<td>
				<a href="assets/shelves/1-D.png"
					>1-D | {% assign books_data = site.data.list %} {% assign shelf_1d =
					books_data | where: "notes", "1-D" | size %} {{ shelf_1d }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/2-D.png"
					>2-D | {% assign books_data = site.data.list %} {% assign shelf_2d =
					books_data | where: "notes", "2-D" | size %} {{ shelf_2d }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/3-D.png"
					>3-D | {% assign books_data = site.data.list %} {% assign shelf_3d =
					books_data | where: "notes", "3-D" | size %} {{ shelf_3d }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/4-D.png"
					>4-D | {% assign books_data = site.data.list %} {% assign shelf_4d =
					books_data | where: "notes", "4-D" | size %} {{ shelf_4d }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/5-D.png"
					>5-D | {% assign books_data = site.data.list %} {% assign shelf_5d =
					books_data | where: "notes", "5-D" | size %} {{ shelf_5d }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/6-D.png"
					>6-D | {% assign books_data = site.data.list %} {% assign shelf_6d =
					books_data | where: "notes", "6-D" | size %} {{ shelf_6d }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/7-D.png"
					>7-D | {% assign books_data = site.data.list %} {% assign shelf_7d =
					books_data | where: "notes", "7-D" | size %} {{ shelf_7d }}</a
				>
			</td>
			<td><span style="text-decoration: line-through">8-D</span></td>
		</tr>
		<tr>
			<th>E</th>
			<td>
				<a href="assets/shelves/1-E.png"
					>1-E | {% assign books_data = site.data.list %} {% assign shelf_1e =
					books_data | where: "notes", "1-E" | size %} {{ shelf_1e }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/2-E.png"
					>2-E | {% assign books_data = site.data.list %} {% assign shelf_2e =
					books_data | where: "notes", "2-E" | size %} {{ shelf_2e }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/3-E.png"
					>3-E | {% assign books_data = site.data.list %} {% assign shelf_3e =
					books_data | where: "notes", "3-E" | size %} {{ shelf_3e }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/4-E.png"
					>4-E | {% assign books_data = site.data.list %} {% assign shelf_4e =
					books_data | where: "notes", "4-E" | size %} {{ shelf_4e }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/5-E.png"
					>5-E | {% assign books_data = site.data.list %} {% assign shelf_5e =
					books_data | where: "notes", "5-E" | size %} {{ shelf_5e }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/6-E.png"
					>6-E | {% assign books_data = site.data.list %} {% assign shelf_6e =
					books_data | where: "notes", "6-E" | size %} {{ shelf_6e }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/7-E.png"
					>7-E | {% assign books_data = site.data.list %} {% assign shelf_7e =
					books_data | where: "notes", "7-E" | size %} {{ shelf_7e }}</a
				>
			</td>
			<td><span style="text-decoration: line-through">8-E</span></td>
		</tr>
		<tr>
			<th>F</th>
			<td>
				<a href="assets/shelves/1-F.png"
					>1-F | {% assign books_data = site.data.list %} {% assign shelf_1f =
					books_data | where: "notes", "1-F" | size %} {{ shelf_1f }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/2-F.png"
					>2-F | {% assign books_data = site.data.list %} {% assign shelf_2f =
					books_data | where: "notes", "2-F" | size %} {{ shelf_2f }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/3-F.png"
					>3-F | {% assign books_data = site.data.list %} {% assign shelf_3f =
					books_data | where: "notes", "3-F" | size %} {{ shelf_3f }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/4-F.png"
					>4-F | {% assign books_data = site.data.list %} {% assign shelf_4f =
					books_data | where: "notes", "4-F" | size %} {{ shelf_4f }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/5-F.png"
					>5-F | {% assign books_data = site.data.list %} {% assign shelf_5f =
					books_data | where: "notes", "5-F" | size %} {{ shelf_5f }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/6-F.png"
					>6-F | {% assign books_data = site.data.list %} {% assign shelf_6f =
					books_data | where: "notes", "6-F" | size %} {{ shelf_6f }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/7-F.png"
					>7-F | {% assign books_data = site.data.list %} {% assign shelf_7f =
					books_data | where: "notes", "7-F" | size %} {{ shelf_7f }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/8-F.png"
					>8-F | {% assign books_data = site.data.list %} {% assign shelf_8f =
					books_data | where: "notes", "8-F" | size %} {{ shelf_8f }}</a
				>
			</td>
		</tr>
	</tbody>
</table>
<br />
<div style="clear: both"></div>
<br />
{{ shelf_1a | plus: shelf_1b | plus: shelf_1c | plus: shelf_1d | plus: shelf_1e
| plus: shelf_1f | plus: shelf_2a | plus: shelf_2b | plus: shelf_2c | plus:
shelf_2d | plus: shelf_2e | plus: shelf_2f | plus: shelf_3a | plus: shelf_3b |
plus: shelf_3c | plus: shelf_3d | plus: shelf_3e | plus: shelf_3f | plus:
shelf_4a | plus: shelf_4b | plus: shelf_4c | plus: shelf_4d | plus: shelf_4e |
plus: shelf_4f | plus: shelf_5a | plus: shelf_5b | plus: shelf_5c | plus:
shelf_5d | plus: shelf_5e | plus: shelf_5f | plus: shelf_6a | plus: shelf_6b |
plus: shelf_6c | plus: shelf_6d | plus: shelf_6e | plus: shelf_6f | plus:
shelf_7a | plus: shelf_7b | plus: shelf_7c | plus: shelf_7d | plus: shelf_7e |
plus: shelf_7f | plus: shelf_8a | plus: shelf_8b | plus: shelf_8c | plus:
shelf_8f }}
