Home F
<table>
	<thead>
		<tr>
			<td>.</td>
			<th>1</th>
			<th>2</th>
			<th>3</th>
			<th>4</th>
			<th>5</th>
			<th>6</th>
			<th>7</th>
			<th>8</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>A</th>
			<td>
				<a href="assets/shelves/1-A.png">1-A</a>
			</td>
			<td><a href="assets/shelves/2-A.png">2-A</a></td>
			<td>3-A</td>
			<td>4-A</td>
			<td>5-A</td>
			<td>6-A</td>
			<td>7-A</td>
			<td>8-A</td>
		</tr>
		<tr>
			<th>B</th>
			<td><a href="assets/shelves/1-B.png">1-B</a></td>
			<td><a href="assets/shelves/2-B.png">2-B</a></td>
			<td>3-B</td>
			<td>4-B</td>
			<td>5-B</td>
			<td>6-B</td>
			<td>7-B</td>
			<td>8-B</td>
		</tr>
		<tr>
			<th>C</th>
			<td><a href="assets/shelves/1-C.png">1-C</a></td>
			<td>2-C</td>
			<td>3-C</td>
			<td>4-C</td>
			<td>5-C</td>
			<td>6-C</td>
			<td>7-C</td>
			<td>8-C</td>
		</tr>
		<tr>
			<th>D</th>
			<td><a href="assets/shelves/1-D.png">1-D</a></td>
			<td>2-D</td>
			<td>3-D</td>
			<td>4-D</td>
			<td>5-D</td>
			<td>6-D</td>
			<td>7-D</td>
			<td><span style="text-decoration: line-through">8-D</span></td>
		</tr>
		<tr>
			<th>E</th>
			<td><a href="assets/shelves/1-E.png">1-E</a></td>
			<td>2-E</td>
			<td>3-E</td>
			<td>4-E</td>
			<td>5-E</td>
			<td>6-E</td>
			<td>7-E</td>
			<td><span style="text-decoration: line-through">8-E</span></td>
		</tr>
		<tr>
			<th>F</th>
			<td><a href="assets/shelves/1-F.png">1-F</a></td>
			<td>2-F</td>
			<td>3-F</td>
			<td>4-F</td>
			<td>5-F</td>
			<td>6-F</td>
			<td>7-F</td>
			<td>8-F</td>
		</tr>
	</tbody>
</table>
<br />
