<table>
	<thead>
		<tr>
			<td>.</td>
			<th>A</th>
			<th>B</th>
			<th>C</th>
			<th>D</th>
			<th>E</th>
			<th>F</th>
			<th>G</th>
			<th>H</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>1</th>
			<td>A-1</td>
			<td>B-1</td>
			<td>C-1</td>
			<td>D-1</td>
			<td>E-1</td>
			<td>F-1</td>
			<td>G-1</td>
			<td>H-1</td>
		</tr>
		<tr>
			<th>2</th>
			<td>A-2</td>
			<td>B-2</td>
			<td>C-2</td>
			<td>D-2</td>
			<td>E-2</td>
			<td>F-2</td>
			<td>G-2</td>
			<td>H-2</td>
		</tr>
		<tr>
			<th>3</th>
			<td>A-3</td>
			<td>B-3</td>
			<td>C-3</td>
			<td>D-3</td>
			<td>E-3</td>
			<td>F-3</td>
			<td>G-3</td>
			<td>H-3</td>
		</tr>
		<tr>
			<th>4</th>
			<td>A-4</td>
			<td>B-4</td>
			<td>C-4</td>
			<td>D-4</td>
			<td>E-4</td>
			<td>F-4</td>
			<td>G-4</td>
			<td>H-4</td>
		</tr>
	</tbody>
</table>
<br />
