Home G
<table>
	<thead>
		<tr>
			<td>.</td>
			<th>1</th>
			<th>2</th>
			<th>3</th>
			<th>4</th>
			<th>5</th>
			<th>6</th>
			<th>7</th>
			<th>8</th>
			<th>9</th>
			<th>10</th>
			<th>11</th>
			<th>12</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>A</th>
			<td>
				<a href="assets/shelves/1-A.png"
					>1-A | {% assign books_data = site.data.list %} {% assign shelf_1a =
					books_data | where: "notes", "1-A" | size %} {{ shelf_1a }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/2-A.png"
					>2-A | {% assign books_data = site.data.list %} {% assign shelf_2a =
					books_data | where: "notes", "2-A" | size %} {{ shelf_2a }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/3-A.png"
					>3-A | {% assign books_data = site.data.list %} {% assign shelf_3a =
					books_data | where: "notes", "3-A" | size %} {{ shelf_3a }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/4-A.png"
					>4-A | {% assign books_data = site.data.list %} {% assign shelf_4a =
					books_data | where: "notes", "4-A" | size %} {{ shelf_4a }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/5-A.png"
					>5-A | {% assign books_data = site.data.list %} {% assign shelf_5a =
					books_data | where: "notes", "5-A" | size %} {{ shelf_5a }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/6-A.png"
					>6-A | {% assign books_data = site.data.list %} {% assign shelf_6a =
					books_data | where: "notes", "6-A" | size %} {{ shelf_6a }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/7-A.png"
					>7-A | {% assign books_data = site.data.list %} {% assign shelf_7a =
					books_data | where: "notes", "7-A" | size %} {{ shelf_7a }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/8-A.png"
					>8-A | {% assign books_data = site.data.list %} {% assign shelf_8a =
					books_data | where: "notes", "8-A" | size %} {{ shelf_8a }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/9-A.png"
					>9-A | {% assign books_data = site.data.list %} {% assign shelf_9a =
					books_data | where: "notes", "9-A" | size %} {{ shelf_9a }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/10-A.png"
					>10-A | {% assign books_data = site.data.list %} {% assign shelf_10a =
					books_data | where: "notes", "10-A" | size %} {{ shelf_10a }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/11-A.png"
					>11-A | {% assign books_data = site.data.list %} {% assign shelf_11a =
					books_data | where: "notes", "11-A" | size %} {{ shelf_11a }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/12-A.png"
					>12-A | {% assign books_data = site.data.list %} {% assign shelf_12a =
					books_data | where: "notes", "12-A" | size %} {{ shelf_12a }}</a
				>
			</td>
		</tr>
		<tr>
			<th>B</th>
			<td>
				<a href="assets/shelves/1-B.png"
					>1-B | {% assign books_data = site.data.list %} {% assign shelf_1b =
					books_data | where: "notes", "1-B" | size %} {{ shelf_1b }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/2-B.png"
					>2-B | {% assign books_data = site.data.list %} {% assign shelf_2b =
					books_data | where: "notes", "2-B" | size %} {{ shelf_2b }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/3-B.png"
					>3-B | {% assign books_data = site.data.list %} {% assign shelf_3b =
					books_data | where: "notes", "3-B" | size %} {{ shelf_3b }}</a
				>
			</td>

			<td><span style="text-decoration: line-through">4-B</span></td>

			<td>
				<a href="assets/shelves/5-B.png"
					>5-B | {% assign books_data = site.data.list %} {% assign shelf_5b =
					books_data | where: "notes", "5-B" | size %} {{ shelf_5b }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/6-B.png"
					>6-B | {% assign books_data = site.data.list %} {% assign shelf_6b =
					books_data | where: "notes", "6-B" | size %} {{ shelf_6b }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/7-B.png"
					>7-B | {% assign books_data = site.data.list %} {% assign shelf_7b =
					books_data | where: "notes", "7-B" | size %} {{ shelf_7b }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/8-B.png"
					>8-B | {% assign books_data = site.data.list %} {% assign shelf_8b =
					books_data | where: "notes", "8-B" | size %} {{ shelf_8b }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/9-B.png"
					>9-B | {% assign books_data = site.data.list %} {% assign shelf_9b =
					books_data | where: "notes", "9-B" | size %} {{ shelf_9b }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/10-B.png"
					>10-B | {% assign books_data = site.data.list %} {% assign shelf_10b =
					books_data | where: "notes", "10-B" | size %} {{ shelf_10b }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/11-B.png"
					>11-B | {% assign books_data = site.data.list %} {% assign shelf_11b =
					books_data | where: "notes", "11-B" | size %} {{ shelf_11b }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/12-B.png"
					>12-B | {% assign books_data = site.data.list %} {% assign shelf_12b =
					books_data | where: "notes", "12-B" | size %} {{ shelf_12b }}</a
				>
			</td>
		</tr>
		<tr>
			<th>C</th>
			<td>
				<a href="assets/shelves/1-C.png"
					>1-C | {% assign books_data = site.data.list %} {% assign shelf_1c =
					books_data | where: "notes", "1-C" | size %} {{ shelf_1c }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/2-C.png"
					>2-C | {% assign books_data = site.data.list %} {% assign shelf_2c =
					books_data | where: "notes", "2-C" | size %} {{ shelf_2c }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/3-C.png"
					>3-C | {% assign books_data = site.data.list %} {% assign shelf_3c =
					books_data | where: "notes", "3-C" | size %} {{ shelf_3c }}</a
				>
			</td>
			<td><span style="text-decoration: line-through">4-C</span></td>
			<td>
				<a href="assets/shelves/5-C.png"
					>5-C | {% assign books_data = site.data.list %} {% assign shelf_5c =
					books_data | where: "notes", "5-C" | size %} {{ shelf_5c }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/6-C.png"
					>6-C | {% assign books_data = site.data.list %} {% assign shelf_6c =
					books_data | where: "notes", "6-C" | size %} {{ shelf_6c }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/7-C.png"
					>7-C | {% assign books_data = site.data.list %} {% assign shelf_6c =
					books_data | where: "notes", "7-C" | size %} {{ shelf_7c }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/8-C.png"
					>8-C | {% assign books_data = site.data.list %} {% assign shelf_8c =
					books_data | where: "notes", "8-C" | size %} {{ shelf_8c }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/9-C.png"
					>9-C | {% assign books_data = site.data.list %} {% assign shelf_9c =
					books_data | where: "notes", "9-C" | size %} {{ shelf_9c }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/10-C.png"
					>10-C | {% assign books_data = site.data.list %} {% assign shelf_10c =
					books_data | where: "notes", "10-C" | size %} {{ shelf_10c }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/11-C.png"
					>11-C | {% assign books_data = site.data.list %} {% assign shelf_11c =
					books_data | where: "notes", "11-C" | size %} {{ shelf_11c }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/12-C.png"
					>12-C | {% assign books_data = site.data.list %} {% assign shelf_12c =
					books_data | where: "notes", "12-C" | size %} {{ shelf_12c }}</a
				>
			</td>
		</tr>
		<tr>
			<th>D</th>
			<td>
				<a href="assets/shelves/1-D.png"
					>1-D | {% assign books_data = site.data.list %} {% assign shelf_1d =
					books_data | where: "notes", "1-D" | size %} {{ shelf_1d }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/2-D.png"
					>2-D | {% assign books_data = site.data.list %} {% assign shelf_2d =
					books_data | where: "notes", "2-D" | size %} {{ shelf_2d }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/3-D.png"
					>3-D | {% assign books_data = site.data.list %} {% assign shelf_3d =
					books_data | where: "notes", "3-D" | size %} {{ shelf_3d }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/4-D.png"
					>4-D | {% assign books_data = site.data.list %} {% assign shelf_4d =
					books_data | where: "notes", "4-D" | size %} {{ shelf_4d }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/5-D.png"
					>5-D | {% assign books_data = site.data.list %} {% assign shelf_5d =
					books_data | where: "notes", "5-D" | size %} {{ shelf_5d }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/6-D.png"
					>6-D | {% assign books_data = site.data.list %} {% assign shelf_6d =
					books_data | where: "notes", "6-D" | size %} {{ shelf_6d }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/7-D.png"
					>7-D | {% assign books_data = site.data.list %} {% assign shelf_7d =
					books_data | where: "notes", "7-D" | size %} {{ shelf_7d }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/8-D.png"
					>8-D | {% assign books_data = site.data.list %} {% assign shelf_8d =
					books_data | where: "notes", "8-D" | size %} {{ shelf_8d }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/9-D.png"
					>9-D | {% assign books_data = site.data.list %} {% assign shelf_9d =
					books_data | where: "notes", "9-D" | size %} {{ shelf_9d }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/10-D.png"
					>10-D | {% assign books_data = site.data.list %} {% assign shelf_10d =
					books_data | where: "notes", "10-D" | size %} {{ shelf_10d }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/11-D.png"
					>11-D | {% assign books_data = site.data.list %} {% assign shelf_11d =
					books_data | where: "notes", "11-D" | size %} {{ shelf_11d }}</a
				>
			</td>
			<td>
				<a href="assets/shelves/12-D.png"
					>12-D | {% assign books_data = site.data.list %} {% assign shelf_12d =
					books_data | where: "notes", "12-D" | size %} {{ shelf_12d }}</a
				>
			</td>
		</tr>
	</tbody>
</table>
<br />
{% assign loc_data = site.data.list %} {% assign status_archived = loc_data |
where: "location", "archived" | size %}
<div style="clear: both"></div>
<br />
<i>homelibrary: </i>
{{ shelf_1a | plus: shelf_1b | plus: shelf_1c | plus: shelf_1d | plus: shelf_2a
| plus: shelf_2b | plus: shelf_2c | plus: shelf_2d | plus: shelf_3a | plus:
shelf_3b | plus: shelf_3c | plus: shelf_3d | plus: shelf_4a | plus: shelf_4d |
plus: shelf_5a | plus: shelf_5b | plus: shelf_5c | plus: shelf_5d | plus:
shelf_6a | plus: shelf_6b | plus: shelf_6c | plus: shelf_6d | plus: shelf_7a |
plus: shelf_7b | plus: shelf_7c | plus: shelf_7d | plus: shelf_8a | plus:
shelf_8b | plus: shelf_8c | plus: shelf_8d | plus: shelf_9a | plus: shelf_9b |
plus: shelf_9c | plus: shelf_9d | plus: shelf_10a | plus: shelf_10b | plus:
shelf_10c| plus: shelf_10d | plus: shelf_11a| plus: shelf_11b| plus: shelf_11c|
plus: shelf_11d| plus: shelf_12a| plus: shelf_12b| plus: shelf_12c| plus:
shelf_12d}} +
<i>archived:</i> {{ status_archived }}
