Home G-0
<table>
	<thead>
		<tr>
			<td>.</td>
			<th>1</th>
			<th>2</th>
			<th>3</th>
			<th>4</th>
			<th>5</th>
			<th>6</th>
			<th>7</th>
			<th>8</th>
			<th>9</th>
			<th>10</th>
			<th>11</th>
			<th>12</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>A</th>
			<td>
				<a href="shelves/1-a">1-A</a>
			</td>
			<td>
				<a href="shelves/2-a">2-A</a>
			</td>
			<td>
				<a href="shelves/3-a">3-A</a>
			</td>
			<td>
				<a href="shelves/4-a">4-A</a>
			</td>
			<td>
				<a href="shelves/5-a">5-A</a>
			</td>
			<td>
				<a href="shelves/6-a">6-A</a>
			</td>
			<td>
				<a href="shelves/7-a">7-A</a>
			</td>
			<td>
				<a href="shelves/8-a">8-A</a>
			</td>
			<td>
				<a href="shelves/9-a">9-A</a>
			</td>
			<td>
				<a href="shelves/10-a">10-A</a>
			</td>
			<td>
				<a href="shelves/11-a">11-A</a>
			</td>
			<td>
				<a href="shelves/12-a">12-A</a>
			</td>
		</tr>
		<tr>
			<th>B</th>
			<td>
				<a href="shelves/1-b">1-B</a>
			</td>
			<td>
				<a href="shelves/2-b">2-B</a>
			</td>
			<td>
				<a href="shelves/3-b">3-B</a>
			</td>

			<td><span style="text-decoration: line-through">4-B</span></td>

			<td>
				<a href="shelves/5-b">5-B</a>
			</td>
			<td>
				<a href="shelves/6-b">6-B</a>
			</td>
			<td>
				<a href="shelves/7-b">7-B</a>
			</td>
			<td>
				<a href="shelves/8-b">8-B</a>
			</td>
			<td>
				<a href="shelves/9-b">9-B</a>
			</td>
			<td>
				<a href="shelves/10-b">10-B</a>
			</td>
			<td>
				<a href="shelves/11-b">11-B</a>
			</td>
			<td>
				<a href="shelves/12-b">12-B</a>
			</td>
		</tr>
		<tr>
			<th>C</th>
			<td>
				<a href="shelves/1-c">1-C</a>
			</td>
			<td>
				<a href="shelves/2-c">2-C</a>
			</td>
			<td>
				<a href="shelves/3-c">3-C</a>
			</td>
			<td><span style="text-decoration: line-through">4-C</span></td>
			<td>
				<a href="shelves/5-c">5-C</a>
			</td>
			<td>
				<a href="shelves/6-c">6-C</a>
			</td>
			<td>
				<a href="shelves/7-c">7-C</a>
			</td>
			<td>
				<a href="shelves/8-c">8-C</a>
			</td>
			<td>
				<a href="shelves/9-c">9-C</a>
			</td>
			<td>
				<a href="shelves/10-c">10-C</a>
			</td>
			<td>
				<a href="shelves/11-c">11-C</a>
			</td>
			<td>
				<a href="shelves/12-c">12-C</a>
			</td>
		</tr>
		<tr>
			<th>D</th>
			<td>
				<a href="shelves/1-d">1-D</a>
			</td>
			<td>
				<a href="shelves/2-d">2-D</a>
			</td>
			<td>
				<a href="shelves/3-d">3-D</a>
			</td>
			<td>
				<a href="shelves/4-d">4-D</a>
			</td>
			<td>
				<a href="shelves/5-d">5-D</a>
			</td>
			<td>
				<a href="shelves/6-d">6-D</a>
			</td>
			<td>
				<a href="shelves/7-d">7-D</a>
			</td>
			<td>
				<a href="shelves/8-d">8-D</a>
			</td>
			<td>
				<a href="shelves/9-d">9-D</a>
			</td>
			<td>
				<a href="shelves/10-d">10-D</a>
			</td>
			<td>
				<a href="shelves/11-d">11-D</a>
			</td>
			<td>
				<a href="shelves/12-d">12-D</a>
			</td>
		</tr>
	</tbody>
</table>
<br />
<div style="clear: both"></div>
<a href="https://homelibrary.next52books.com/shelves/archived">archived</a>

<div style="clear: both"></div>
<br />
