<!-- reread_yes -->
{% assign books_data = site.data.list %} {% assign reread_yes = books_data |
where: "reread", "yes" | size %}
<!-- ereread_yes -->
{% assign ereread_data = site.data.reread %} {% assign ereread_yes =
ereread_data | size %}
<!-- status_read -->
{% assign read_data = site.data.list %} {% assign status_read = read_data |
where: "status", "Read" | size %}
<!-- gaveaway_yes -->
{% assign gaveaway_data = site.data.gaveaway %} {% assign gaveaway_yes =
gaveaway_data | size %}
<!-- status_justread -->
{% assign justread_data = site.data.list %} {% assign status_justread =
justread_data | where: "status", "JustRead" | size %}
<!-- status_tobeupdated -->
{% assign tobeupdated_data = site.data.list %} {% assign status_tobeupdated =
tobeupdated_data | where: "newstatus", "ToBeUpdated" | size %}
<!-- reading_yes -->
{% assign reading_data = site.data.list %} {% assign status_reading =
reading_data | where: "status", "Reading" | size %}
<!-- tbr_yes -->
{% assign tbr_data = site.data.list %} {% assign tbr_yes = tbr_data | where:
"tbr", "yes" | size %}
<!-- plus: '49' = read as ebook - - - includes and comes from: reread.html & tobeupdated.html -->
<div style="color: #b7b2b2">
	<i>read: {{ status_read | plus: gaveaway_yes | plus: '50' }}</i>
</div>
<!-- adding +5 to just finished because of ereads of 2024-->
<div style="color: #b7b2b2">
	<i>just finished: {{ status_justread | plus: '5' }}</i>
</div>
<div style="color: #b7b2b2">
	<b>
		<i
			>total read: {{ status_read | plus: gaveaway_yes | plus: '50' | plus:
			status_justread }}</i
		>
	</b>
</div>
<div style="color: #b7b2b2">
	<i>
		<a
			href="https://homelibrary.next52books.com/tobeupdated"
			style="color: #b7b2b2"
			>to be updated (incl. just finished):
		</a>
		{{ status_tobeupdated | plus: '5' }}
	</i>
</div>
<div style="color: #b7b2b2">
	<i>
		<a
			href="https://www.next52books.com/now.html"
			style="color: #b7b2b2"
			>reading:
		</a>
		{{ status_reading | plus: '2' }}
	</i>
</div>
<!--plus: '1' - if reading an ebook/audiobook-->
<div style="color: #b7b2b2">
	<i>
		<a
			href="https://homelibrary.next52books.com/reread"
			style="color: #b7b2b2"
			>reread (incl. e-reads): </a
		>{{ reread_yes | plus: ereread_yes }}
	</i>
</div>
<div style="color: #b7b2b2">
	<i>
		<a
			href="https://homelibrary.next52books.com/tbr"
			style="color: #b7b2b2"
			>TBR: </a
		>{{ tbr_yes }}
	</i>
</div>

<!-- <br />
<div>reread_yes {{ reread_yes }}</div>
<div>ereread_yes {{ ereread_yes }}</div>
<br />
<div>status_read {{ status_read }}</div>
<div>gaveaway {{ gaveaway_yes }}</div>
<div>justread 22</div> -->
