<i>
	<div>1. Building a Second Brain | Tiago Forte</div>
	<div>2. Atomic Habits | James Clear</div>
	<div>3. The Job | Ellen Ruppel Shell</div>
	<div>4. The Almanack of Naval Ravikant | Eric Jorgenson</div>
	<div>5. Why Good People Can’t Get Jobs | Peter Cappelli</div>
	<div>6. The End of Education | Neil Postman</div>
	<div>7. Deep Medicine | Eric J. Topol</div>
	<div>8. Why We Love Dogs, Eat Pigs, Wear Cows | Melanie Joy</div>
	<div>9. A World Without Email | Cal Newport</div>
	<div>10. Hired | James Bloodwroth</div>
	<div>11. How to Take Smart Notes | Sonke Ahrens</div>
	<div>12. Show Your Work | Austin Kleon</div>
	<div>13. How to Make Sense of Any Mess | Abby Covert</div>
	<div>14. Digital Minimalism | Cal Newport</div>
	<div>15. Payoff | Dan Ariely</div>
	<div>16. Humans Are Overrated | Geoff Colvin</div>
	<div>17. Talking to Strangers | Malcolm Gladwell</div>
	<div>18. Bad Blood | John Carreyrou</div>
</i>
<i>
	<b>read as ebook or audiobook</b>
	<div>1. Building a Second Brain | Tiago Forte</div>
	<div>2. Atomic Habits | James Clear</div>
	<div>3. The Job | Ellen Ruppel Shell</div>
	<div>4. The Cult of We | Eliot Brown, Maureen Farrell</div>
	<div>5. The Almanack of Naval Ravikant | Eric Jorgenson</div>
	<div>6. No Filter | Sarah Frier</div>
	<div>7. Why Good People Can’t Get Jobs | Peter Cappelli</div>
	<div>
		8. Our House is on Fire | Malena Ernman, Greta Thunberg, Beata Ernman,
		Svante Thunberg
	</div>
	<div>9. The End of Education | Neil Postman</div>
	<div>10. Deep Medicine | Eric J. Topol</div>
	<div>11. What I Talk About When I Talk About Running | Haruki Murakami</div>
	<div>12. Reading The World | Ann Morgan</div>
	<div>13. Lightly | Francine Jay</div>
	<div>14. A Woman Makes A Plan | Maye Musk</div>
	<div>15. What We Talk About When We Talk About Books | Leah Price</div>
	<div>16. Project 333 | Courtney Carver</div>
	<div>17. Why We Love Dogs, Eat Pigs, and Wear Cows | Melanie Joy</div>
	<div>18. Hired | James Bloodwroth</div>
	<div>19. Whistleblower | Susan Fowler</div>
	<div>20. Factfulness | Hans Rosling, Anna Rosling Rönnlund, Ola Rosling</div>
	<div>21. The Miracle Morning | Hal Elrod</div>
	<div>22. Troublemaker | Leah Remini</div>
	<div>23. Show Your Work | Austin Kleon</div>
	<div>24. How To Take Smart Notes | Sonke Ahrens</div>
	<div>25. Shoe Dog | Phil Knight</div>
	<div>26. How to Make Sense of Any Mess | Abby Covert</div>
	<div>27. Digital Minimalism | Cal Newport</div>
	<div>28. A World Without Email | Cal Newport</div>
	<div>29. Payoff | Dan Ariely</div>
	<div>30. Humans Are Underrated | Geoff Colvin</div>
	<div>31. How To Avoid a Climate Disaster | Bill Gates</div>
	<div>32. Adventures in Opting Out | Cait Flanders</div>
	<div>
		33. 101 Things I Learned in Advertising School | Tracy Arrington, Matthew
		Frederick
	</div>
	<div>
		34. 101 Things I Learned in Urban Design School | Matthew Frederick, Vikas
		Mehta
	</div>
	<div>
		35. 101 Things I Learned in Law School | Vibeke Norgaard Martin, Matthew
		Frederick
	</div>
	<div>
		36. 101 Things I Learned in Product Design School | Sung Jang, Martin
		Thaler, Matthew Frederick
	</div>
	<div>37. The 4-Hour Work Week | Tim Ferriss</div>
	<div>38. The Bullet Journal Method | Ryder Carroll</div>
	<div>39. Why We Sleep | Matthew Walker</div>
	<div>40. Soulful Simplicity | Courtney Carver</div>
	<div>41. Talking To Strangers | Malcolm Gladwell</div>
	<div>42. The Bomber Mafia | Malcolm Gladwell</div>
	<div>43. Bad Blood | John Carreyrou</div>
	<div>44. Hayvan Deneyleri | Yagmur Ozgur Guven, Oguzcan Kinikoglu</div>
	<div>45. Vegan Devrimi ve Hayvan Ozgurlugu | Zulal Kalkandelen</div>
	<div>46. Know My Name | Chanel Miller</div>
	<div>
		47. Why I’m No Longer Talking To White People About Race | Reni Eddo-Lodge
	</div>
	<div>48. The Woman In Me | Britney Spears</div>
	<div>49. Self-Made Man | Norah Vincent</div>
	<div>50. I’m Glad My Mom Died | Jennette McCurdy</div>
	<div>51. The Contrarian | Max Chafkin ???</div>
	<div>52. The DNA Field and the Law of Resonance | Pierre Franckh ???</div>
</i>
