Home D
<table>
	<thead>
		<tr>
			<td>.</td>
			<th>A</th>
			<th>B</th>
			<th>C</th>
			<th>D</th>
			<th>E</th>
			<th>F</th>
			<th>G</th>
			<th>H</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>0</th>
			<td>-</td>
			<td>-</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_c0 = books_data
				| where: "notes", "C-0" | size %} {{ shelf_c0 }}
			</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
		</tr>
		<tr>
			<th>1</th>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_a1 = books_data
				| where: "notes", "A-1" | size %} {{ shelf_a1 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_b1 = books_data
				| where: "notes", "B-1" | size %} {{ shelf_b1 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_c1 = books_data
				| where: "notes", "C-1" | size %} {{ shelf_c1 }}
			</td>
			<td>
				{% assign shelf_d1 = books_data | where: "notes", "D-1" | size %} {{
				shelf_d1 }}
			</td>
			<td>
				{% assign shelf_e1 = books_data | where: "notes", "E-1" | size %} {{
				shelf_e1 }}
			</td>
			<td>
				{% assign shelf_f1 = books_data | where: "notes", "F-1" | size %} {{
				shelf_f1 }}
			</td>
			<td>
				{% assign shelf_g1 = books_data | where: "notes", "G-1" | size %} {{
				shelf_g1 }}
			</td>
			<td>
				{% assign shelf_h1 = books_data | where: "notes", "H-1" | size %} {{
				shelf_h1 }}
			</td>
		</tr>
		<tr>
			<th>2</th>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_a2 = books_data
				| where: "notes", "A-2" | size %} {{ shelf_a2 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_b2 = books_data
				| where: "notes", "B-2" | size %} {{ shelf_b2 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_c2 = books_data
				| where: "notes", "C-2" | size %} {{ shelf_c2 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_d2 = books_data
				| where: "notes", "D-2" | size %} {{ shelf_d2 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_e2 = books_data
				| where: "notes", "E-2" | size %} {{ shelf_e2 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_f2 = books_data
				| where: "notes", "F-2" | size %} {{ shelf_f2 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_g2 = books_data
				| where: "notes", "G-2" | size %} {{ shelf_g2 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_h2 = books_data
				| where: "notes", "H-2" | size %} {{ shelf_h2 }}
			</td>
		</tr>
		<tr>
			<th>3</th>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_a3 = books_data
				| where: "notes", "A-3" | size %} {{ shelf_a3 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_b3 = books_data
				| where: "notes", "B-3" | size %} {{ shelf_b3 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_c3 = books_data
				| where: "notes", "C-3" | size %} {{ shelf_c3 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_d3 = books_data
				| where: "notes", "D-3" | size %} {{ shelf_d3 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_e3 = books_data
				| where: "notes", "E-3" | size %} {{ shelf_e3 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_f3 = books_data
				| where: "notes", "F-3" | size %} {{ shelf_f3 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_g3 = books_data
				| where: "notes", "G-3" | size %} {{ shelf_g3 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_h3 = books_data
				| where: "notes", "H-3" | size %} {{ shelf_h3 }}
			</td>
		</tr>
		<tr>
			<th>4</th>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_a4 = books_data
				| where: "notes", "A-4" | size %} {{ shelf_a4 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_b4 = books_data
				| where: "notes", "B-4" | size %} {{ shelf_b4 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_c4 = books_data
				| where: "notes", "C-4" | size %} {{ shelf_c4 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_d4 = books_data
				| where: "notes", "D-4" | size %} {{ shelf_d4 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_e4 = books_data
				| where: "notes", "E-4" | size %} {{ shelf_e4 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_f4 = books_data
				| where: "notes", "F-4" | size %} {{ shelf_f4 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_g4 = books_data
				| where: "notes", "G-4" | size %} {{ shelf_g4 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_h4 = books_data
				| where: "notes", "H-4" | size %} {{ shelf_h4 }}
			</td>
		</tr>
		<tr>
			<th>5</th>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_a5 = books_data
				| where: "notes", "A-5" | size %} {{ shelf_a5 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_b5 = books_data
				| where: "notes", "B-5" | size %} {{ shelf_b5 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_c5 = books_data
				| where: "notes", "C-5" | size %} {{ shelf_c5 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_d5 = books_data
				| where: "notes", "D-5" | size %} {{ shelf_d5 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_e5 = books_data
				| where: "notes", "E-5" | size %} {{ shelf_e5 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_f5 = books_data
				| where: "notes", "F-5" | size %} {{ shelf_f5 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_g5 = books_data
				| where: "notes", "G-5" | size %} {{ shelf_g5 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_h5 = books_data
				| where: "notes", "H-5" | size %} {{ shelf_h5 }}
			</td>
		</tr>
		<tr>
			<th>6</th>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_a6 = books_data
				| where: "notes", "A-6" | size %} {{ shelf_a6 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_b6 = books_data
				| where: "notes", "B-6" | size %} {{ shelf_b6 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_c6 = books_data
				| where: "notes", "C-6" | size %} {{ shelf_c6 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_d6 = books_data
				| where: "notes", "D-6" | size %} {{ shelf_d6 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_e6 = books_data
				| where: "notes", "E-6" | size %} {{ shelf_e6 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_f6 = books_data
				| where: "notes", "F-6" | size %} {{ shelf_f6 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_g6 = books_data
				| where: "notes", "G-6" | size %} {{ shelf_g6 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_h6 = books_data
				| where: "notes", "H-6" | size %} {{ shelf_h6 }}
			</td>
		</tr>
		<tr>
			<th>7</th>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_a7 = books_data
				| where: "notes", "A-7" | size %} {{ shelf_a7 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_b7 = books_data
				| where: "notes", "B-7" | size %} {{ shelf_b7 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_c7 = books_data
				| where: "notes", "C-7" | size %} {{ shelf_c7 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_d7 = books_data
				| where: "notes", "D-7" | size %} {{ shelf_d7 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_e7 = books_data
				| where: "notes", "E-7" | size %} {{ shelf_e7 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_f7 = books_data
				| where: "notes", "F-7" | size %} {{ shelf_f7 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_g7 = books_data
				| where: "notes", "G-7" | size %} {{ shelf_g7 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_h7 = books_data
				| where: "notes", "H-7" | size %} {{ shelf_h7 }}
			</td>
		</tr>
		<tr>
			<th>8</th>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_a8 = books_data
				| where: "notes", "A-8" | size %} {{ shelf_a8 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_b8 = books_data
				| where: "notes", "B-8" | size %} {{ shelf_b8 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_c8 = books_data
				| where: "notes", "C-8" | size %} {{ shelf_c8 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_d8 = books_data
				| where: "notes", "D-8" | size %} {{ shelf_d8 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_e8 = books_data
				| where: "notes", "E-8" | size %} {{ shelf_e8 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_f8 = books_data
				| where: "notes", "F-8" | size %} {{ shelf_f8 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_g8 = books_data
				| where: "notes", "G-8" | size %} {{ shelf_g8 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_h8 = books_data
				| where: "notes", "H-8" | size %} {{ shelf_h8 }}
			</td>
		</tr>
		<tr>
			<th>9</th>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_a9 = books_data
				| where: "notes", "A-9" | size %} {{ shelf_a9 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_b9 = books_data
				| where: "notes", "B-9" | size %} {{ shelf_b9 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_c9 = books_data
				| where: "notes", "C-9" | size %} {{ shelf_c9 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_d9 = books_data
				| where: "notes", "D-9" | size %} {{ shelf_d9 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_e9 = books_data
				| where: "notes", "E-9" | size %} {{ shelf_e9 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_f9 = books_data
				| where: "notes", "F-9" | size %} {{ shelf_f9 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_g9 = books_data
				| where: "notes", "G-9" | size %} {{ shelf_g9 }}
			</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_h9 = books_data
				| where: "notes", "H-9" | size %} {{ shelf_h9 }}
			</td>
		</tr>
		<tr>
			<th>10</th>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_a10 =
				books_data | where: "notes", "A-10" | size %} {{ shelf_a10 }}
			</td>
			<td>-</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_c10 =
				books_data | where: "notes", "C-10" | size %} {{ shelf_c10 }}
			</td>
			<td>-</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_e10 =
				books_data | where: "notes", "E-10" | size %} {{ shelf_e10 }}
			</td>
			<td>-</td>
			<td>
				{% assign books_data = site.data.list %} {% assign shelf_g10 =
				books_data | where: "notes", "G-10" | size %} {{ shelf_g10 }}
			</td>
			<td>-</td>
		</tr>
	</tbody>
</table>
<br />
